.timer-wrapper{
  margin: 25px auto;
  width: 256px;
  height: 64px;
  background-color:#fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}
#timer{
font-size: 36px;
line-height: 30px;
letter-spacing: 0.15px;
color: rgba(0, 0, 0, 0.4);
}
